<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>

<body>
    <h1>Welcome to create a new campground</h1>
    <form action="/campgrounds" method="post">
        <div>
            <label for='campTitle'>Campground Title</label>
            <input type="text" name="campground[title]" id="campTitle">
        </div>
        <div>
            <label for="campLocation">Location</label>
            <input type="text" name="campground[location]" id="campLocation">
        </div>

        <button type="submit">Submit</button>
    </form>
</body>

</html>